.btn{
    background-color: #222;
    padding: #ffffff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 10px;
}
.btn{
    color: #ffffff;
}

.btn:hover{
    color: #FFBB33;
}